@model EncyclopediaOfHadiths.Models.NarratorsChain

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>NarratorsChain</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NarratorsChainId" />
            <div class="form-group">
                <label asp-for="NarratorId" class="control-label"></label>
                <select asp-for="NarratorId" class="form-control" asp-items="ViewBag.NarratorId"></select>
                <span asp-validation-for="NarratorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NarratorLevel" class="control-label"></label>
                <select asp-for="NarratorLevel" class="form-control" asp-items="ViewBag.NarratorLevel"></select>
                <span asp-validation-for="NarratorLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HadithId" class="control-label"></label>
                <select asp-for="HadithId" class="form-control" asp-items="ViewBag.HadithId"></select>
                <span asp-validation-for="HadithId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
