@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Alsalam Ealaykum"]</h1>
    <p>@Localizer["This website is outstanding and talk about Hadiths. Its object is to understand our religion better. No one above criticism."]</p>
</div>
